* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
}

.container {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.70) 0px 6px 12px;
    width: 75%;
    height: fit-content;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
}

.search {
    display: flex;
    align-items: center;
}

.container input {
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 30px;
    height: 40px;
    width: 300px;
}

.search button {
    border: 3px solid black;
    border-radius: 10px;
    font-size: 30px;
    height: 40px;
    width: 300px;
    font-weight: 900;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.container button:hover {
    border-color: white;
}

.loading {
    border: 8px solid #ccc;
    border-top-color: #F4266A;
    border-top-style: groove;
    width: 50px;
    height: 50px;
    margin: 20px;
    z-index: 10000;
    border-radius: 100%;
    animation: load 0.5s linear infinite;
}

@keyframes load {
    from {
        transform: rotate(0deg);    
    }
    to {
        transform: rotate(360deg);
    }
}

.content {
    width: 98%;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sell {
    background-color: green;
    width: 98%;
    margin: 10px;
    padding: 10px;
    background: rgb(224, 224, 224);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.70) 0px 6px 12px;
}

.sell-id {
    margin: 0 0 5px 5px;
}

.sell-body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.sell-data p {
    margin: 5px;
}

.sell-actions div, #btn-download-receipt {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.search form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.extra-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.extra-data input {
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    height: 30px;
    width: 200px;
    padding: 3px;
}

.extra-data button {
    border: 3px solid black;
    border-radius: 10px;
    font-size: 20px;
    height: 30px;
    width: 200px;
    font-weight: 900;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    margin: 5px;
}

.extra-data button:hover {
    border-color: white;
}

.checkbox {
    display: inline-flex;
    align-items: center;
}

.checkbox input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.invisible {
    display: none;
}

@media (max-width: 600px) {

    .container {
        width: 90%;
    }    

}